<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/10_Aim_logo_logos-512.png" alt="Bootstrap" width="30" height="24"><h1>Fitness</h1>
        </a>
        <ul class="nav nav-underline position-relative">
            <li class="nav-item">
              <a class="nav-link active h1 fw-bolder" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="nutritions">Nutrition</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="exercises">Exercise</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
  </nav>


 
  <router-outlet></router-outlet>
  


  

  <footer class="footer-08">
    <div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis">
        <div class="row">
            <div class="col-md-9 py-5">
                <div class="row">
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">About us</h2>
                        <p>
                          help our members achieve their fitness goals by providing high-quality facilities, equipment, and personal training services
                        </p>
                    </div>
                    <div class="col-md-8">
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-lg-9">
                                <div class="row">
                                    <div class="col-md-4 mb-md-0 mb-4">
                                        <h2 class="footer-heading">Media</h2>
                                        <ul class="list-unstyled">
                                            <li>
                                              <a href="https://www.facebook.com/wingi.koko" target="_blank"><img src="https://img.icons8.com/?size=100&id=118467&format=png&color=000000" alt="Facebook acounnt" style="width:42px;height:42px;"></a>
                                            </li>
                                            <li>
                                              <a href="https://www.instagram.com/kirolos_fouad_fawzy" target="_blank"><img src="https://img.icons8.com/?size=100&id=32309&format=png&color=000000" alt="HTML tutorial" style="width:42px;height:42px;"></a>
                                            </li>
                                            <li>
                                              <a href="https://l.instagram.com/?u=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fkirolos-fouad-914680165%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAaYruR_gktLqTYZdqL7jhigkVlOCrqLVP9z0I0PgGiM9fNxDEFDFXDi7cpo_aem_U84m7vMllTzqubFCToOaUQ&e=AT1AU-bTwkD21hsqYFXg9zwcqiS8DDeEu8CnClaCnRiMAW4k10RUSv91hgk7IdljxhXiq9qQ9If7SFUKC5YtXs8Y8Y29bOH7dCxX-g" target="_blank"><img src="https://img.icons8.com/?size=100&id=8808&format=png&color=000000" alt="linkedin" style="width:42px;height:42px;"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-5">
                    <div class="col-md-12">
                        <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/kirolos-fouad-914680165?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BzvGdZPbnQRG3ZiBe8PapLg%3D%3D" target="_blank">kirolos fouad fawzy</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</footer>