
  <body>
    <div class="hero">
        <img src="https://images.pexels.com/photos/2270328/pexels-photo-2270328.jpeg?auto=compress&cs=tinysrgb&w=600/">
        <div class="overlay">
            <h1>Every step brings you closer to your goal</h1>
        </div>
    </div>

    <div class="hero">
      <img src="https://images.pexels.com/photos/461593/pexels-photo-461593.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      <div class="overlay">
          <h1 class="fw-bolder">Together we achieve more</h1>
      </div>
  </div>
  
    <div class="hero">
        <img src="https://images.pexels.com/photos/949126/pexels-photo-949126.jpeg?auto=compress&cs=tinysrgb&w=600">
        <div class="overlay">
            <h1>Challenges make champions</h1>
        </div>
    </div>

    <div class="hero">
        <img src="https://images.pexels.com/photos/917732/pexels-photo-917732.jpeg?auto=compress&cs=tinysrgb&w=600">
        <div class="overlay">
            <h1>A healthy mind in a healthy body</h1>
        </div>
    </div>
</body>
